.banner-principal {
    color: var(--branco);

    height: 70vh;

    background-image: url(../imgs/banner-principal-home.png);
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 120px;
}

.texto-banner {
    height: 100%;
    
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.texto-banner p {
    font-size: 1.5em;
    width: 60%;
}

.botao {
    padding: 20px 50px;

    border-radius: 10px;

    background-color: var(--cor-destaque);
    color: var(--azul-escuro);

    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
}

.botao:hover {
    background-color: #2ab2ab;
    color: var(--branco);
}

.banner-principal img {
    align-self: flex-end;
    width: 35%;
}

.titulo-secao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-secao {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.titulo-secao span {
    display: flex;
    width: 250px;
    height: 4px;
    background-color: var(--cor-destaque);
}

.beneficios {
    padding: 50px 120px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    gap: 100px;
}

.beneficios-lista {
    display: grid;

    grid-template-columns: repeat(3, 20%);

    gap: 10%;

    justify-content: center;
    
}

.beneficio {

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 80px 20px 50px;

    border: 1px solid var(--azul-escuro);
    border-radius: 30px;

    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25);

    text-align: center;

    position: relative;
}

.beneficio-icone img {
    width: 50%;
}

.beneficio-icone {
    border: 4px solid var(--cor-destaque);
    background-color: var(--branco);

    border-radius: 50%;

    width: 30%;
    height: 30%;

    position: absolute;

    top: -15%;

    left: 50%;

    transform: translateX(-50%);

    display: grid;

    place-items: center;
}

.beneficio h3 {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-transform: uppercase;
    width: 90%;
}

.beneficio p {
    font-size: 1em;
    width: 80%;
}

.banner-meio {
    height: 60vh;

    background-image: url(../imgs/Banner\ centro.svg);
    background-size: cover;

    display: flex;
    justify-content: flex-end;

    padding: 0 120px;
    color: var(--branco);
}

.livros-lista {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 60px;
}

.livro {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.livro h3 {
    text-align: center;
    text-transform: uppercase;
}

.livro img {
    object-fit: cover;
    width: 100%;
    height: 450px;
}

.livro-info {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.rodape {
    padding: 50px 100px;
    padding-top: 100px;
    background-color: var(--azul-escuro);

    display: flex;
    flex-direction: column;
    gap: 50px
}

.rodape a {
    font-size: 0.9em;
}

.rodape span {
    display: flex;
    width: 100%;
    height: 1px;
    background-color: var(--branco);
}

.rodape-conteudo {
    display: flex;
    justify-content: space-between;
}

.rodape-conteudo h3 {
    color: var(--cor-destaque);
    font-weight: 400;
    margin-bottom: 15px;
}

.icons-rodape {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.links-rodape {
    display: grid;

    grid-template-columns: 1fr .8fr;    
    gap: 50px 150px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.links-icons {
    display: flex;
    justify-content: space-between;
}

.rodape-info {
    display: flex;
    justify-content: space-between;
}

.rodape-info .documentos {
    display: flex;
    gap: 40px
}